.collection-header {
    max-width: 1250px;
    text-align: center;
    margin: 34px auto 0;
    padding: 0 22px;

    .name {
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 4px;
    }

    .description {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    .location {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .count {
        font-size: 18px;
    }
}
