.gallery-container {
    @extend .container;

    @media (min-width: 500px) {
        margin: 34px auto;
    }
}

.gallery {
    @media (min-width: 500px) {
        margin-left: $gallerySpacing;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }

    &.are-images-unloaded {
        opacity: 0;
    }
}

.gallery-sizer,
.gallery-item {
    width: 100%;
    margin-bottom: $gallerySpacing;

    @media (min-width: 500px) {
        width: calc(50% - $gallerySpacing);
    }

    @media (min-width: 900px) {
        width: calc(33.333% - $gallerySpacing);
    }
}

.gallery-item {
    float: left;

    img {
        display: block;
        max-width: 100%;
    }
}
