$spacing: 20px;

.gallery-container {
    max-width: 1450px;
    margin: auto 20px;

    @media (min-width: 500px) {
        margin: auto auto;
    }
}

.gallery {
    @media (min-width: 500px) {
        margin-left: $spacing;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.gallery-sizer,
.gallery-item {
    width: 100%;
    margin-bottom: $spacing;

    @media (min-width: 500px) {
        width: calc(50% - $spacing);
    }

    @media (min-width: 900px) {
        width: calc(33.333% - $spacing);
    }
}

.gallery-item {
    float: left;

    img {
        display: block;
        max-width: 100%;
    }
}
