@import "colors";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main-content {
    transition: 0.3s filter ease-in-out;
}

.not-found {
    text-align: center;
    margin-top: 26px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

.btn {
    @include set-background(#111);
    text-transform: uppercase;
    border: 2px solid #111;
    margin: 8px auto;
    padding: 8px 22px;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease all;
    letter-spacing: 1.4px;

    &:hover {
        cursor: pointer;
        background-color: transparent;
        color: #111;
    }

    &-delete {
        @extend .btn;
        background-color: $deleteColor;
        border-color: $deleteColor;

        &:hover {
            color: $deleteColor;
        }
    }
}

@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";

@import "~lightgallery/scss/lightgallery";
@import "~lightgallery/scss/lg-zoom";

@import "form";
@import "header";
@import "gallery";
@import "collection";
@import "lightbox";
