@import "colors";

$collectionWidth: 1250px;
$maxWidth: 1450px;
$gallerySpacing: 20px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main-content {
    transition: 0.3s filter ease-in-out;
}

.container {
    max-width: $maxWidth;
    margin: 34px 20px;

    @media (min-width: 500px) {
        margin: 34px auto;
    }
}

.title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    margin: 32px 0 4px;
    text-align: center;
}

.subtitle {
    font-size: 22px;
    font-weight: 400;
    margin-top: 4px;
}

.not-found {
    text-align: center;
    margin-top: 26px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

.btn {
    display: inline-block;
    @include set-background(#111);
    text-transform: uppercase;
    border: 2px solid #111;
    margin: 8px auto;
    padding: 8px 22px;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease all;
    letter-spacing: 1.4px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background-color: transparent;
        color: #111;
    }

    &-delete {
        @extend .btn;
        background-color: $deleteColor;
        border-color: $deleteColor;

        &:hover {
            color: $deleteColor;
        }
    }

    &-white-invert {
        @extend .btn;
        @include set-background(transparent);
        border-color: #fff;

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";

@import "~lightgallery/scss/lightgallery";
@import "~lightgallery/scss/lg-zoom";

@import "form";
@import "header";
@import "about";
@import "gallery";
@import "collection";
@import "lightbox";
